extends layout

block content
  div.row.border-bottom.white-bg.dashboard-header
    div.col-md-4
      h2 Güvenlik Raporu Düzenle

  div.row
    div.col-lg-12
      div.wrapper.wrapper-content
        div.row
          div.col-lg-12
            div.ibox.float-e-margins
              div.ibox-content.border-bottom
                form.form-horizontal(action='/reports/edit', method='post')
                  input(type="hidden" name='id' value= report._id)
                  input(type="hidden" name='creator' value= report.creator)
                  div.form-group
                    label.col-sm-3.control-label Olay Kategorisi
                    div.col-sm-9
                      select.form-control(name='category', id='category', disabled='disabled')
                        option(selected='selected')= report.category

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Gerçekleştiği Yer
                    div.col-sm-9
                      select.form-control(name='location', id='location', disabled='disabled')
                        option(selected='selected')= report.location
                  
                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hata Zamanı
                    div.col-sm-9
                      select.form-control(name='time-interval', id='time-interval', disabled='disabled')
                        each timeInterval in timeIntervals
                          if timeInterval.text == report.timeinterval
                            option(selected='selected')= timeInterval.text
                          else
                            option= timeInterval.text


                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hatayı Yapan Meslek Grubu
                    div.col-sm-9
                      select.form-control(name='occupational-group', id='occupational-group', disabled='disabled')
                        option(selected='selected')= report.staff
                  
                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hatalı İşlem
                    div.col-sm-9
                      select.form-control(name='incorrect-operation', id='incorrect-operation', disabled='disabled')
                        option(selected='selected')= report.operation

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hatalı İşlem Detayı
                    div.col-sm-9
                      select.form-control(name='incorrect-operation-detail', id='incorrect-operation-detail', disabled='disabled')
                        option(selected='selected')= report.operationdetail

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hatanın Gerçekleştiği Tarih
                    div.col-sm-9
                      input.form-control(type='text', name='date', value=report.date, required, disabled='disabled')

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hata Özeti
                    div.col-sm-9
                      textarea.form-control(name='summary', required, disabled='disabled')= report.summary

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hata ile İlgili Açıklamalar
                    div.col-sm-9
                      textarea.form-control(name='description', required, disabled='disabled')= report.description

                  div.hr-line-dashed

                  div.form-group
                    label.col-sm-3.control-label Hatanın Çözümü
                    div.col-sm-9
                      textarea.form-control(name='solution', required, disabled='disabled')= report.solution

                  div.hr-line-dashed

                  div.form-group(style='margin-bottom: 0')
                    div.col-sm-12
                      input.btn.btn-primary.pull-right(type='submit', value='Güncelle & Onaya Sun', disabled='disabled')

block scripts
  script(src='/javascripts/plugins/underscore/underscore.min.js')
  script(src='/javascripts/pages/edit-report.js')